# Activity 5.2 - SQL

### MIT-616 DIM
_Dr. Kittima Mekhabunchakij_

# Load sql

In [1]:
%load_ext sql

### Connect to db

In [2]:
%sql sqlite:///src/db/activity5_2.db

'Connected: None@src/db/activity5_2.db'

# Create tables `R`, `S`, `T`

In [3]:
# Create tables & insert some random numbers
# Note: in Postgresql, try the generate_series function...
%sql DROP TABLE IF EXISTS R; DROP TABLE IF EXISTS S; DROP TABLE IF EXISTS T;
%sql CREATE TABLE R (A int); CREATE TABLE S (A int); CREATE TABLE T (A int);
for i in range(1,6):
    %sql INSERT INTO R VALUES (:i)
for i in range(1,10,2):
    %sql INSERT INTO S VALUES (:i)
for i in range(1,11,3):
    %sql INSERT INTO T VALUES (:i)

Done.
Done.
Done.
Done.
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

# Create tables `product`, `company`

In [4]:
%%sql
drop table if exists product; -- This needs to be dropped if exists, see why further down!
drop table if exists company;

pragma foreign_keys = ON; -- WARNING by default off in sqlite
create table company (
    cname varchar primary key, -- company name uniquely identifies the company.
    stockprice money, -- stock price is in money 
    country varchar); -- country is just a string
insert into company values ('ToyWorks', 25.0, 'USA');
insert into company values ('ToyFriends', 65.0, 'China');
insert into company values ('ToyCo', 15.0, 'China');

Done.
Done.
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [5]:
%%sql
create table product(
       pname varchar, -- name of the product
       price money, -- price of the product
       category varchar, -- category
       manufacturer varchar, -- manufacturer
       primary key (pname, manufacturer),
       foreign key (manufacturer) references company(cname));
insert into product values('Pikachu', 19.99, 'Toy', 'ToyWorks');
insert into product values('Pikachu', 19.99, 'Toy', 'ToyFriends');
insert into product values('Pokeball', 29.99, 'Electronic', 'ToyCo');
insert into product values('Bulbasaur', 149.99, 'Toy', 'ToyFriends');
insert into product values('Charizard', 203.99, 'Toy', 'ToyCo');
insert into product values('PokeCamera', 19.99, 'Electronic', 'ToyWorks');

Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

# Activity 5-2:

_Multi-table queries_

## Exercise 1:

ตารางข้อมูล $R,S,T$ มี attribute $A$ :
* R = {1,2,3,4,5}
* S = {1,3,5,7,9}
* T = {1,4,7,10}
 
เขียน query เพื่อเลือก $R \cap (S \cup T)$
- คือ มี element ที่อยู่ใน $R$ และ ( $S$ หรือ $T$ )

### เขียน query ที่นี่

แล้วทดสอบ query ข้างต้น กับกรณีที่ $S = \emptyset$
- พบว่า เกิดอะไรขึ้น และเหตุผล?

#### execute คำสั่งต่อไปนี้ 
- แล้ว run คำสั่ง  query ข้างต้นอีกครั้ง

In [6]:
%%sql
delete from S;

5 rows affected.

[]

## Exercise 2

* Schema เหมือนเดิม 

> Product (<u>pname</u>,  price, category, manufacturer)<br>
> Company (<u>cname</u>, stockPrice, country)

* เป้าหมายคือ ตอบคำถามต่อไปนี้

> ค้นหาทุก category ของผลิตภัณฑ์ที่ผลิตขึ้นโดยบริษัทจีน

#### เขียน query ที่นี่

### end of IPynb