# Activity 5.1 - SQL

### MIT-616 DIM
_Dr. Kittima Mekhabunchakij_

## Load the extention `sql`

In [1]:
%load_ext sql

# Connect `activity5_1.db`

In [3]:
%sql sqlite:///src/db/activity5_1.db

'Connected: None@src/db/activity5_1.db'

# Creat table `product`

In [4]:
%%sql drop table if exists product;
create table product(
       pname        varchar primary key, -- name of the product
       price        money,               -- price of the product
       category     varchar,             -- category
       manufacturer varchar NOT NULL     -- manufacturer
);
insert into product values('Gizmo', 19.99, 'Gadgets', 'GizmoWorks');
insert into product values('PowerGizmo', 29.99, 'Gadgets', 'GizmoWorks');
insert into product values('MultiTouch', 203.99, 'Household', 'Hitachi');
insert into product values('SingleTouch', 149.99, 'Photography', 'Canon');

Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

# Activity 5-1:

*Single table queries*

## Exercise 1

- เขียน query เพื่อให้ได้ตารางข้อมูลผลลัพธ์มีทุก product ที่มี "Touch" ในชื่อผลิตภัณฑ์ (name), แสดงข้อมูล name และ price, และเรียงลำดับข้อมูลผู้ผลิต (manufacturer)
- query นี้ใช้ประโยชน์ได้ หรือเหมาะสม หรือไม่

### ลองดู product ก่อน

In [5]:
%sql select * from product;

Done.

[('Gizmo', 19.99, 'Gadgets', 'GizmoWorks'),
 ('PowerGizmo', 29.99, 'Gadgets', 'GizmoWorks'),
 ('MultiTouch', 203.99, 'Household', 'Hitachi'),
 ('SingleTouch', 149.99, 'Photography', 'Canon')]

### เขียน query ที่นี่:

แล้วเขียน query ที่ให้ผลลัพธ์ โดยมีชื่อของผู้ผลิต (manufacturer) _distinct_ ซึ่งเป็นผู้ผลิตสินค้า "Gizmo" :

### Exercise 2

_ORDER BY_

พยายามเขียน query โดยคาดเดาผลลัพธ์ก่อน 
- query ด้วยภาษา SQL ใดที่เหมาะสมที่สุด?

In [6]:
%sql SELECT DISTINCT category FROM product ORDER BY category;

Done.

[('Gadgets',), ('Household',), ('Photography',)]

In [7]:
%sql SELECT category FROM product ORDER BY pname;

Done.

[('Gadgets',), ('Household',), ('Gadgets',), ('Photography',)]

In [8]:
%sql SELECT DISTINCT category FROM product ORDER BY pname;

Done.

[('Gadgets',), ('Household',), ('Photography',)]

### end of IPynb