### Activity 3 - SQL Basics

### MIT-616 DIM
_Dr. Kittima Mekhabunchakij_

In [1]:
# %reload_ext load_style
# %load_style custom/talk_wide.css

# ipython-sql extension

ใน IPython เราสามารถใช้ส่วนขยาย `ipython-sql` [extension](https://github.com/catherinedevlin/ipython-sql) เพื่อทำงานด้วยภาษา SQL (เช่น ติดต่อกับฐานข้อมูล เลือกดูข้อมูล ฯลฯ)
> `conda install ipython-sql`

> หรือ

> `pip install ipython-sql`

## เริ่มต้นโหลด ipython-sql
- โหลดส่วนขยายดังกล่าวเข้ามาใน Notebook ด้วยคำสั่งต่อไปนี้:

In [2]:
%reload_ext sql

**หมายเหตุ:** ผลลัพธ์ของการใช้คำสั่งข้างต้น 
- (ก) อาจมีคำเตือน สีแดงไฮไลท์ 
- (ข) ส่วนขยาย **ipython-sql** โหลดอย่างถูกต้อง เพื่อใข้คำสัง SQL ใน Notebook ได้สะดวก
- (ค) การใช้ส่วนขยาย sql อ้างอิง: https://github.com/catherinedevlin/ipython-sql


## ตัวอย่างฐานข้อมูล dataset_1.db

เราจะโหลดไฟล์ฐานข้อมูลตัวอย่าง *dataset_1.db* ซึ่งจะใช้ในเลกเชอร์ และ lab 
- ไฟลฺ์ `dataset_1.db` ซึ่งต้องอยู่ใน directory เดียวกับ IPython Notebook

In [3]:
import sqlite3
conn = sqlite3.connect('src\\db\\test.db')    # Connection to SQLite server

print("Opened database successfully")

Opened database successfully

In [4]:
conn.close()

In [5]:
import os
import sqlite3

db_filename = 'src//db//dataset_1.db'

db_is_new = not os.path.exists(db_filename)

conn = sqlite3.connect(db_filename)
if db_is_new:
    print('Need to create schema')
else:
    print('Database exists, assume schema does, too.')

conn.close()

Database exists, assume schema does, too.

In [6]:
%sql sqlite:///src/db/dataset_1.db

'Connected: None@src/db/dataset_1.db'

## ตารางข้อมูล precipitation_full

ฐานข้อมูลตัวอย่าง มีตารางข้อมูล `precipitation_full` ซึ่งเก็บข้อมูลหยาดน้ำฟ้า (น้ำฝน)
- จาก U.S. National Oceanic and Atmospheric Administration (NOAA) Rainfall dataset

### Schema ของตารางข้อมูล

`precipitation_full`  มี schema ต่อไปนี้

> * `state_code`
> * `station_id`
> * `year`
> * `month`
> * `day`
> * `hour`
> * `precipitation`
> * `flag_1`
> * `flag_2`

เรคคอร์ด (หรือ row หรือ tuple) ในตารางข้อมูลนี้อธิบายปริมาณน้ำฝนใน 1 ชั่วโมง (`precipitation`- ในหน่วย 100 นิ้ว) ที่สถานีตรวจวัด (`station_id`) ในรัฐหนึ่งๆ ของสหรัฐอเมริกา (`state_code`).

_หมายเหตุ_  
- tuple ที่มี `hour=25` เก็บข้อมูลปริมาณน้ำฝนรวมของวันพนึ่ง ๆ 
- เรายังไม่สนใจ ค่าข้อมูลใน attribute `flag_1` และ `flag_2`

## ตัวอย่างคำสั่ง SQL 

- คำสั่งที่เลือกดู row ข้อมูล (SELECT ... FROM ... )

เราสามารถโหลด _empty in-memory database_ โดยใช้คำสั่ง :

``%sql sqlite://``

ตัวอย่างต่อไปนี้เป็นคำสั่ง SQL ในการ query ข้อมูล 
- ไม่ต้องเป็นกังวล ถ้ายังใหม่กับ SQL เรากำลังจะเรียนรู้กฎเกณฑ์ หรือ syntax ของภาษาในเลกเชอร์)

## การใช้ `%sql` ใน IPython

### การใช้ `%sql` ในบรรทัดเดียว 
- single line SQL commands

In [7]:
%sql SELECT * FROM precipitation_full LIMIT 5;

Done.

[(1, 807, 2013, 9, 1, 1, None, '[', ''),
 (1, 807, 2013, 9, 1, 25, 0, 'I', ''),
 (1, 807, 2013, 9, 30, 24, None, ']', ''),
 (1, 807, 2013, 9, 30, 25, 0, 'I', ''),
 (1, 6303, 2013, 9, 1, 1, 0, 'g', '')]

In [8]:
%sql SELECT COUNT(*) FROM precipitation_full;  -- ตารางข้อมูลหยาดน้ำฟ้า

Done.

[(74251,)]

### การใช้ `%%sql` ในหลายบรรทัด
- multi-line SQL commands

In [9]:
%%sql
SELECT SUM(p.precipitation) 
FROM precipitation_full p, states s 
WHERE p.state_code = s.code AND s.abbrev = 'CA';

Done.

[(31982,)]

## ผลลัพธ์ของ query
เราสามารถทำงานกับผลลัพธ์ของ query โดยใช้คำสั่ง :

In [10]:
result = %sql SELECT * FROM states;

Done.

In [11]:
result.keys

['code', 'name', 'abbrev']

**row แรก** เรียกว่า 'header' ซึ่งมีชื่อ column

In [12]:
result[1]               # row ถัดไป เป็น row ที่ 1, 2, ...

(1, 'Alabama', 'AL')

In [13]:
result[1].name

'Alabama'

### ผลลัพธ์ของ query ใน row ถัดไป

In [14]:
result[2]

(2, 'Arizona', 'AZ')

In [15]:
len(result)             # จำนวนผลลัพธ์จากการใช้ำคสั่ง sql

55

จะเห็นว่า การเขียนโปรแกรมเพื่อทำงานกับชุดข้อมูล (dataset) ไม่ยุ่งยาก - เราจะเรียนรู้คำสั่งต่างๆ มากขึ้นในภายหลัง

## end of IPynb